@import "../variables.scss";

.list-item-wrapper {
  display: flex;
  column-gap: $units-m;
  justify-content: space-between;
  width: 100%;
  max-width: 780px;
}

.checkbox-style {
  height: $height-default;
}

.button-style {
  color: $color-black;
  border: none;
}
