.list-item-wrapper {
  display: flex;
  column-gap: 8px;
  justify-content: space-between;
  width: 100%;
  max-width: 780px;
}

.checkbox-style {
  height: 32px;
}

.button-style {
  color: #000000;
  border: none;
}
