@import "../../variables";

.hidden-wrapper {
  display: flex;
  width: 300px;
}

.hidden-inner {
  align-self: center;
  display: flex;
}

.hidden-top {
  margin-top: $units-s;
}
.text-style {
  display: flex;
  align-self: center;
}

.button-style {
  cursor: pointer;
  border: none;
  padding: 0;
}
